@using Dashboard.Helpers
@model Fedora.Abstractions.ArchivalGroup

<div>
    <div class="alert alert-primary" role="alert">
        <h1 class="display-4">📦 @Model.GetDisplayName()</h1>
        <a href="/ocfl/@ViewBag.Path">View storage (OCFL)</a>
    </div>

    <partial name="_ParentLink" />

    <partial name="_CommonMetadata" model="Model" />

    <partial name="_ContainerTable" model="Model" />
</div>
