@using Dashboard.Helpers
@using Utils
@model Fedora.Abstractions.Container

<div>
    <partial name="_ArchivalGroupHeader" />

    @if (Model.Type == "RepositoryRoot")
    {
        <h1 class="display-4">🏠 @Model.GetDisplayName()</h1>
    } 
    else
    {
        <partial name="_ParentLink" />

        <h1 class="display-4">📁 @Model.GetDisplayName()</h1>
        <partial name="_CommonMetadata" model="Model" />
    }

    <partial name="_ContainerTable" model="Model" />

</div>
