@if (ViewBag.ArchivalGroupPath != null)
{
    <div class="alert alert-primary" role="alert">
        📦 Part of an <i>Archival Group</i>: <a href="/browse/@ViewBag.ArchivalGroupPath">@ViewBag.ArchivalGroupPath</a>
    </div>
}