@model Fedora.Abstractions.Resource
<table class="table">
    <tr>
        <th scope="row">Created</th>
        <td>@Model.Created</td>
    </tr>
    <tr>
        <th scope="row">Created by</th>
        <td>@Model.CreatedBy</td>
    </tr>
    <tr>
        <th scope="row">Last modified</th>
        <td>@Model.LastModified</td>
    </tr>
    <tr>
        <th scope="row">Last modified by</th>
        <td>@Model.LastModifiedBy</td>
    </tr>
</table>